.collapse.navbar-collapse#bs-example-navbar-collapse-1
  %ul.nav.navbar-nav.navbar-right
    %li= link_to "Twitterでログイン", '/auth/twitter'

.div
  - if current_user.present?
    = current_user.name
  - else
    "ブランク"