/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import "honoka";

/* Color */
$light-green: #0dd0bd;
$green: #41BAA4;
$green-dark: #0aa89e;
$orange: #f2a620;
$grey: #f5f5f5;
$beige: #efede0;
$black: #666;
$light-grey: rgba(0,0,0,0.5);
$white: #fff;

/* General */
html{
  // font-family: verdana, arial, helvetica, sans-serif;
  font-family: Gotham-Light,Gotham-Medium,sans-serif;
  color: #666;
  background-color: #fff;
}

body{
  background-color: #f9f9f9;
  min-height: 100vh;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.2s;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]){
  border-bottom: 1px solid $green;
  box-shadow: 0 1px 0 0 $green;
}
[type="checkbox"]{
  position: absolute;
  opacity: 0;
  width: auto;
  z-index: 100;
}
[type="checkbox"] + label{
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  transition: .2s;
}
[type="checkbox"]:checked + label:before{
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}
[type="checkbox"]:not(.filled-in) + label:after{
  border: 0;
  transform: scale(0);
}

select{
  display: block !important;
}

textarea{
  border-radius: 5px;
  &:focus{
    outline-color: transparent;
    // outline-offset: 0;
    // outline-width: 0;
    outline-color: $green;
    border: solid 1px $green;
  }
}

/* Mixin */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Block */

ul {
  list-style: none;
  padding: 0;
}

/* Block */
.alert-notice{
  background-color: #41BAA4;
  margin-top: 20px;
  color: #fff;
  font-size: 1.2rem;
  opacity: .8;
}

/* Block */
.btn{
  &.btn_status_authenticating{
    background-color: #ddd !important;
    color: #666 !important;
  }
}

.button{
  color: #666;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 2px;
  text-align: center;
  letter-spacing: 1px;
  transition: .2s ease-out;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 15px;
  line-height: 2;
  &:hover{
    background-color: $green;
    border: solid 1px $green;
    color: #fff;
  }
  &.active{
    background-color: $green;
    border: solid 1px $green;
    color: #fff;
  }
}
.button_border_none{
  border: solid 1px rgba(0,0,0,0);
}
.button_fill_true{
  background-color: $green;
  border: solid 1px $green;
  color: #fff;
  &:hover{
    opacity: .7;
  }
}
.button_float_right{
  float: right;
  margin-bottom: 20px;
}

.dropdown{
  .dropdown__list{
    width: 100%;
  }
  .dropdown__content{
    border-radius: 2px;   
    position: absolute;
    top:  63px;
    padding: 0;
    a{
      height: 50px;
      line-height: 50px;
    }
  }
  .dropdown__divider{
    margin: 0;
    height: 1px;
    background-color: #e5e5e5;
    overflow: hidden;
  }
  .dropdown__menu{
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 2px;
    height: 400px;
    overflow: scroll;
  }
  .dropdown__scroll{
    overflow: scroll;
    height: 400px;
    width: 100%;
  }
  .dropdown__toggle{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 65px;
    padding: 0 10px;
    &:hover{
      color: rgba(49, 53, 52, 0.6);
      background-color: rgba(12, 12, 12, 0.0666667);
    }
  }
}
.empty-message{
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 1px;
  .empty-message__icon{
    font-size: 5rem;
  }
  .empty-message__link{
    margin-top: 20px;
  }
}

#error-dialog {
  background-color: lighten(pink, 5%);
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);
  color: red;
  height: 50px;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  position: fixed;
  right: 0;
  top: -80px;
  transition-duration: 0.3s;
  transition-property: top;
  transition-timing-function: ease;
  width: 400px;
  z-index: 9999;
}

#error_explanation{
  width: 100% !important;
  .alert{
    letter-spacing: 1px;
  }
  ul{
    li{
      list-style: none !important;
    }
  }
}

.fc-day-grid-event{
  padding: 0 10px;
}

.field_with_errors{
  background-color: #fff !important;
}

.form{
  .form_action_authenticate{
    transition: .3s;
  }
  .form__checkbox{
    display: blockblock;
    position: relative !important;
    opacity: 1 !important;
    left: 17px;
    top: 9px;
    z-index: 100;
    height: 50px;
  }
  .form__color{
  }
  .form__email{
    font-size: 1rem;
  }
  .form__error{
    padding: 10px;
    font-size: 1rem;
    color: $white;
    background-color: red;
    border-radius: 5px;
    letter-spacing: 1px;
  }
  .form__label{
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 3;
  }
  .form__password{
    font-size: 1rem;
  }
  .form__plan{
    width: 100;
    display: block;
    margin-bottom: 10px;
    input{
      width: 10%;
      float: left;
      height: 3.6rem;
      margin-top: 0;
    }
    label{
      font-size: 1.2rem;
      line-height: 3;
      width: 80%;
    }
  }
  .form__submit{
  }
  .form__text{
    font-size: 1rem;
  }
  select{
    display: inline-block;
  }
}

.header{
  background-color: #000;
  border: 0;
  border-radius: 0;
  position: fixed;
  // margin-bottom: 20px;
  width: 100%;
  height: 65px;
  z-index: 100;
  box-shadow:0px 1px 3px 0px #bdbdbd;
  -moz-box-shadow:0px 1px 3px 0px #bdbdbd;
  -webkit-box-shadow:0px 1px 3px 0px #bdbdbd;
}

.loading{
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

.logo{
  .logo__img{
    margin: 5px auto;
    display: block;
    width: 150px;
    &:hover{
      background-color: #fff;
      opacity: .7;
    }
  }
  &.logo_where_header{
    float: left;
  }
}

#main_container{
  padding-top: 65px;
  height: 100%;
}

.myModal{
  .modal__body{
    height: calc(100% - 122px);
    padding: 40px;
    overflow: scroll
  }
  .modal__close{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
  }
  .modal__container{
    width: 50%;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    transition: all .3s ease;
  }
  .modal__footer{
    height: 60px;
    border-top: 1px solid #e5e5e5;
    .button{
      float: right;
      margin-top: calc((60px - 2.4rem)/2);
    }
  }
  .modal__header{
    text-align: center;
    font-size: 1.5rem;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e5e5e5;
  }
  .modal__mask{
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: table;
    transition: opacity .3s ease;
  }
  .modal__wrapper{
    display: table-cell;
    vertical-align: middle;
  }
}

.modal-button{
}

.modal-enter{
  opacity: 0;
}
.modal-leave-active{
  opacity: 0;
}
.modal-enter .modal__container, .modal-leave-active .modal__container{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.movie{
  border: solid 1px #666;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #fff;
  display: block;
  color: #666;
  &:hover{
    opacity: .7;
    background-color: #fff;
    color: #666;
  }
  .movie__thumbnail{
    display: block;
    height: 450px;
    width: 300px;
    background-size: cover;
  }
}

.navigation-tabs{
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: solid 1px #ddd;
  height: 40px;
  .navigation-tabs__tab{
    color: #555;
    font-size: 1rem;
    float: left;
    margin-bottom: -1px;
    line-height: 40px;
    padding: 0 13px;
    background-color: #ddd;
    margin-right: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: .1s;
    &:hover{
      opacity: .7;
    }
  }
  .navigation-tabs__tab_status_active{
    border: solid 1px #ddd;
    margin-bottom: 0;
    border-bottom: solid 1px #fff;
    background-color: #fff;
    height: 40px;
    &:hover{
      opacity: 1;
    }
  }
}

.notice{
  border-radius: 5px;
  border: solid 2px $orange;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  .notice__header{
    padding: 0 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 1px;
    background-color: $orange;
    color: $white;
    border-radius: 5px 5px 0 0;
  }
  .notice__body{
    padding: 15px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.notification{
  position: relative;
  .notification__badge{
    position: absolute;
    background-color: $green;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }
  .notification__content{
    height: 70px;
    padding: 0 10px;
    display: block;
    background-color: $white;
    border-left: solid 2px $white;
    .notification__content__body{
      font-size: 1rem;
      height: 50px;
      line-height: 50px;
      overflow: hidden;
    }
    .notification__content__time{
      font-size: 0.8rem;
      height: 20px;
      line-height: 20px;
      color: $black;
    }
    &:hover{
      color: $black;
      background-color: rgba(0,0,0,0.1) !important;
      border-left: solid 2px $green;
    }
  }
  .notification__control{
    background-color: $green;
    color: $white;
    height: 40px;
    padding: 0 15px;
    font-size: 1rem;
    line-height: 40px;
    .notification__control__read-all{
      cursor: pointer;
      float: right;
      &:hover{
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
  .notification__list{
    max-height: 400px;
    overflow: scroll;
  }
  .notification__expand{
    width: 430px;
    left: -346px;
    padding: 0;
    &:after{
      bottom: 100%;
      right: 30px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(65, 186, 164, 0);
      border-bottom-color: #41BAA4;
      border-width: 14px;
      margin-left: -14px;
    }
  }
  .notification__icon{
    padding: 0;
    transition: .1s;
    position: absolute;
    top: calc(29px / 2);
    left: 22px;
    &:hover{
      color: rgba(49, 53, 52, 0.6);
      border-radius: 999px !important;
      background-color: rgba(12, 12, 12, 0.0666667);
    }
    &:focus{
      color: rgba(49, 53, 52, 0.6);
      border-radius: 999px !important;
      background-color: rgba(12, 12, 12, 0.0666667);
    }
  }
  .unread{
    background-color: $beige;
    border-left: solid 2px $beige;
  }
}

.page-list{  
  margin: 0 0 12px;
  transition: .1s;
  display: block;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: bold;
  width: 300px; 
  .page-list__icon{    
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 999px;
    margin-left: calc(( 5vw - 40px )/2);
    margin-right: calc((( 5vw - 40px )/2) + 0px);    
    i{
      color: #fdfdfd;
      display: block;
      margin: auto;
      font-size: 18px;
      text-align: center;
      line-height: 40px;
    }
  }
  .page-list__title{
    color: #fdfdfd;
    font-size: 14px;
    text-align: center;
    display: inline-block;
  }
  &:hover{
    background-color: $green-dark;
  }
  &.page-list_status_active{
    .page-list__icon{
      background-color: #fdfdfd;
      i{        
        color: $green;
      }
    }
  }
}


.sidebar{
  background-color: $green;
  height: 100vh;
  position: fixed;
  padding: 0;
  width: 5%;
  transition: .2s;
  box-shadow:3px 0px 6px -2px #BDBDBD;
  -moz-box-shadow:3px 0px 6px -2px #BDBDBD;
  -webkit-box-shadow:3px 0px 6px -2px #BDBDBD;
  z-index: 0;
  &:hover{
    z-index: 1000;
    width: 15%;
  }
  .sidebar__list{
    overflow: hidden;
    margin-top: 20px;
  }
  .sidebar__footer{
    color: rgba(255, 255, 255, 0.55);
    font-size: 10px;
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
  }
}

.signup{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(150, 150, 150, 0.5);
  padding: 0 0 0 0;
  margin-top: 50px;
  margin-bottom: 200px;
  letter-spacing: 1px;
  .signup__header{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: $green;
  }
  .signup__body{
    padding: 20px 15px;
    input {
      font-size: 1.2rem;
    }
    [type="checkbox"]:not(:checked),[type="checkbox"]:checked{
      left: 18px;
      z-index: 100;
      opacity: 0;
    }
  }
  .signup__register{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    a{
      color: $green;
      &:hover{
        background-color: #fff;
        opacity: .7;
      }
    }
  }
  .signup__forgot{
    height: 40px;
    line-height: 40px;
    text-align: center;
    a{
      color: $green;
      &:hover{
        background-color: #fff;
        opacity: .7;
      }
    }
  }
}

.support{
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: rgba(0,0,0,0.5);
  width: 80%;
  margin: auto;
  a{
    &:hover{
      opacity: .7;
      text-decoration: underline;
    }
  }
}

.table{
  @include box_sizing;
  border: 1px solid rgba(0, 0, 0, 0);
  border-collapse: collapse;
  white-space: nowrap;
  margin: auto;
  .table__data_align_center{
    text-align: center;
  }
  .table__header_align_center{
    text-align: center;
  }
  .table__head{
    opacity: .7;
    line-height: 3;
    th{
      padding: 0 10px;
    }
  }
  .table__body{
    font-size: 1rem;
    line-height: 30px;
    tr{
      height: 30px;
      border-top: solid 1px #ddd;
      border-left: solid 2px transparent;
      &:hover{
        background-color: rgba(0,0,0,0.1) !important;
        border-left: solid 2px $green;
      }
      td{
        padding: .9rem .6rem;
      }
    }
  }  
  a:hover{
    background-color: rgba(0,0,0,0);
    color: #333;
  }
  &.table_where_reservations-show{
    width: calc(100% / 3);
  }
}

.toggle{
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  &:after{
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    left: 0;
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
}

.toggle_status_active{
  background: #D9534F;
  &:after{
    left: 50%;
  }
}

.user-area{
  list-style: none;
  .user-area__button{
    margin: calc(29px / 2);
  }
  .user-area__icon{    
    padding: 0;
    transition: .1s;
    position: absolute;
    top: calc(29px / 2);
    left: 10px;
    &:hover{
      color: rgba(49, 53, 52, 0.6);
      border-radius: 999px !important;
      background-color: rgba(12, 12, 12, 0.0666667);
    }
    &:focus{
      color: rgba(49, 53, 52, 0.6);
      border-radius: 999px !important;
      background-color: rgba(12, 12, 12, 0.0666667);
    }
  }
  .user-area__list{
    float: left;    
    height: 65px;
    width: 160px;
    border-left: solid 1px #ddd;
    &.user-area__list_content_button{
      width: auto;
    }
  }
  &.user-area_where_header{
    float: right;
  }
}

.wrapper{
}
