/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import "honoka";

/* Font */
@font-face {
  font-family: 'Geotica';
  src: url('Geotica_2012.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OstrichSans-Bold';
  src: url('OstrichSans-Bold.otf') format('truetype');
  font-weight: bold;
}

/* Color */
$light-green: #0dd0bd;
$green: #41BAA4;
$green-dark: #0aa89e;
$orange: #f2a620;
$grey: #f5f5f5;
$beige: #efede0;
$black: #666;
$light-grey: rgba(0,0,0,0.5);
$white: #fff;

/* General */
html{
  // font-family: verdana, arial, helvetica, sans-serif;
  // font-family: Gotham-Light,Gotham-Medium,sans-serif;
  font-family: Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
  color: #666;
  background-color: #fff;


  font-size: 14px;
}

body{
}

a{
  color: #666;
  &:visited{
    color: #666;
  }
  &:hover{
    color: #666;
    text-decoration: none;
    opacity: .7;
  }
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.2s;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]){
  border-bottom: 1px solid $green;
  box-shadow: 0 1px 0 0 $green;
}
[type="checkbox"]{
  position: absolute;
  opacity: 0;
  width: auto;
  z-index: 100;
}
[type="checkbox"] + label{
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  transition: .2s;
}
[type="checkbox"]:checked + label:before{
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}
[type="checkbox"]:not(.filled-in) + label:after{
  border: 0;
  transform: scale(0);
}

select{
  display: block !important;
}

textarea{
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  display: block;
  min-height: 255px;
  &:focus{
    outline-color: transparent;
    // outline-offset: 0;
    // outline-width: 0;
    outline-color: $green;
    border: solid 1px $green;
  }
}

/* Mixin */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Block */

ul {
  list-style: none;
  padding: 0;
}

/* Block */
.alert-notice{
  background-color: #41BAA4;
  margin-top: 20px;
  color: #fff;
  font-size: 1.2rem;
  opacity: .8;
}

/* Block */
.btn{
  &.btn_status_authenticating{
    background-color: #ddd !important;
    color: #666 !important;
  }
}

.button{
  color: #666;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  transition: .2s ease-out;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 15px;
  line-height: 2;
  &:hover{
    background-color: $green;
    border: solid 1px $green;
    color: #fff;
  }
  &.active{
    background-color: $green;
    border: solid 1px $green;
    color: #fff;
  }
}
.button_border_none{
  border: solid 1px rgba(0,0,0,0);
}
.button_fill_true{
  background-color: $green;
  border: solid 1px $green;
  color: #fff;
  &:hover{
    opacity: .7;
  }
}
.button_float_right{
  float: right;
  margin-bottom: 20px;
}

.dropdown{
  .dropdown__list{
    width: 100%;
  }
  .dropdown__content{
    border-radius: 2px;
    position: absolute;
    top:  63px;
    padding: 0;
    a{
      height: 50px;
      line-height: 50px;
    }
  }
  .dropdown__divider{
    margin: 0;
    height: 1px;
    background-color: #e5e5e5;
    overflow: hidden;
  }
  .dropdown__menu{
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 2px;
    height: 400px;
    overflow: scroll;
  }
  .dropdown__scroll{
    overflow: scroll;
    height: 400px;
    width: 100%;
  }
  .dropdown__toggle{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 65px;
    padding: 0 10px;
    &:hover{
      color: rgba(49, 53, 52, 0.6);
      background-color: rgba(12, 12, 12, 0.0666667);
    }
  }
}
.empty-message{
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 1px;
  .empty-message__icon{
    font-size: 5rem;
  }
  .empty-message__link{
    margin-top: 20px;
  }
}

#error-dialog {
  background-color: lighten(pink, 5%);
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);
  color: red;
  height: 50px;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  position: fixed;
  right: 0;
  top: -80px;
  transition-duration: 0.3s;
  transition-property: top;
  transition-timing-function: ease;
  width: 400px;
  z-index: 9999;
}

#error_explanation{
  width: 100% !important;
  .alert{
    letter-spacing: 1px;
  }
  ul{
    li{
      list-style: none !important;
    }
  }
}


.fadeInUp {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 visibility: visible !important;
}
@-webkit-keyframes fadeInUp {
 0% { opacity: 0; -webkit-transform: translateY(70px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInUp {
 0% { opacity: 0; -webkit-transform: translateY(70px); -ms-transform: translateY(70px); transform: translateY(70px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

.fc-day-grid-event{
  padding: 0 10px;
}

.field_with_errors{
  background-color: #fff !important;
}

.form{
  .form_action_authenticate{
    transition: .3s;
  }
  .form__checkbox{
    display: blockblock;
    position: relative !important;
    opacity: 1 !important;
    left: 17px;
    top: 9px;
    z-index: 100;
    height: 50px;
  }
  .form__color{
  }
  .form__email{
    font-size: 1rem;
  }
  .form__error{
    padding: 10px;
    font-size: 1rem;
    color: $white;
    background-color: red;
    border-radius: 5px;
    letter-spacing: 1px;
  }
  .form__label{
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 3;
  }
  .form__password{
    font-size: 1rem;
  }
  .form__plan{
    width: 100;
    display: block;
    margin-bottom: 10px;
    input{
      width: 10%;
      float: left;
      height: 3.6rem;
      margin-top: 0;
    }
    label{
      font-size: 1.2rem;
      line-height: 3;
      width: 80%;
    }
  }
  .form__submit{
  }
  .form__text{
    font-size: 1.2rem;
  }
  select{
    display: inline-block;
  }
}

.header{
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 100;
  .header__links{
    float: right;
    text-align: center;
    .header__link{
      display: block;
      float: left;
      line-height: 65px;
      margin-right: 10px;
      letter-spacing: 2px;
      font-weight: bold;
      color: #fff;
      &:hover{
        color: #fff;
      }
    }
  }
}

.loading{
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

.logo{
  a{
    // font-family: "Geotica";
    font-family: "OstrichSans-Bold";
    line-height: 65px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 3.5rem;
    width: 250px;
    display: block;
    text-align: center;
    &:hover{
      opacity: .7;
    }
  }
  &.logo_where_header{
    float: left;
  }
}

#main_container{
  max-height: calc(100vh - 0px);
  overflow: scroll;
  top: 65px;
  position: relative;
}

.myModal{
  .modal__body{
    height: calc(100% - 122px);
    padding: 40px;
    overflow: scroll
  }
  .modal__close{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
  }
  .modal__container{
    width: 50%;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    transition: all .3s ease;
  }
  .modal__footer{
    height: 60px;
    border-top: 1px solid #e5e5e5;
    .button{
      float: right;
      margin-top: calc((60px - 2.4rem)/2);
    }
  }
  .modal__header{
    text-align: center;
    font-size: 1.5rem;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e5e5e5;
  }
  .modal__mask{
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: table;
    transition: opacity .3s ease;
  }
  .modal__wrapper{
    display: table-cell;
    vertical-align: middle;
  }
}

.modal-button{
}

.modal-enter{
  opacity: 0;
}
.modal-leave-active{
  opacity: 0;
}
.modal-enter .modal__container, .modal-leave-active .modal__container{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.movie{
  border: solid 1px #666;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #fff;
  display: block;
  color: #666;
  &:hover{
    opacity: .7;
    background-color: #fff;
    color: #666;
  }
  .movie__thumbnail{
    display: block;
    height: 450px;
    width: 300px;
    background-size: cover;
  }
}

.wrapper{
  // background: #000000; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #000000, #434343) fixed; /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #000000, #434343) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // position: fixed;
  // height: 100vh;
  // width: 100vw;
}
